// Border Radius
// Apply border radius to elements
// Iteration 1

// IDEAS: 
// + Make use of modular scale
// + Loop over sizes


:root {
  --border-radius-s: 1px;
  --border-radius-m: 2px;
  --border-radius-l: 4px;
  // --border-radius-s: 2px;
  // --border-radius-m: 4px;
  // --border-radius-l: 6px;
}

.border-radius_s { border-radius: var(--border-radius-s); }
.border-radius_m { border-radius: var(--border-radius-m); }
.border-radius_l { border-radius: var(--border-radius-l); }