// Border helper classes
// Use case: anywhere you want to have a custom border

// border direction + general
[class*="bo-"] {
  --border-color: var(--color);
  border-style: var(--border-style, solid); 
  border-color: var(--border-color, var(--color-main-5));
}

// Individual setting size
$border-sizes: "px", "xs", "s";
$border-directions: ( top : t, right : r, bottom : b, left : l ); 

@each $size in $border-sizes {
  .bo-#{$size} {
    --border-width: var(--space-#{$size});
    border-width: var(--border-width)
  }
  @each $direction, $letter in $border-directions {
    .bo-#{$letter}-#{$size} {
      --border-#{$direction}-width: var(--space-#{$size});
      border-#{$direction}-width: var(--border-#{$direction}-width) }
  }
}

// Reset, over-rule borders
.bo-no { border: none !important }