// Boxes
//
// Simple box shapes are interface building blocks. 

// Passive box
.box, .boxi {
  border-radius: var(--border-radius-m);
  //border: var(--border-width) solid var(--border-color, var(--color));
  border: 1px solid var(--color-shadow-1);
  background-color: var(--color-bg-1, var(--color-main-2));
  position: relative;
  display: block; // just in case
  min-width: 0px; // fix size to match with clip FF

  &:target {
    border-color: currentColor;
    z-index: 1;
  }
}

// Interactive box
a.box, button.box, label.box, .boxi {
  cursor: pointer;
  background-color: var(--color-bg-1, var(--color-main-2));
  &:hover {
    background-color: var(--color-bg-2, var(--color-prime-1));
    z-index: 3;
    // .link { color: var(--color-bg-2, var(--color-prime-5)) }
    .link { color: var(--color-prime-5)}
  }
  &:focus { @extend .focus; }
}

//.boxi.active {
//  //background-color: var(--color-bg-2, var(--color-prime-2));
//  background-color: var(--color-bg-3, var(--color-prime-3));
//}