// Boxes
//
// Simple box shapes are interface building blocks. 

// Passive box
.box, .boxi {
  //--border-width: var(--space-px);
  //padding: var(--space-s); // default padding
  border: var(--border-width) solid var(--border-color, var(--color));
  background-color: var(--color-bg-1, var(--color-main-2));
  //color: var(--color, var(--color-main-5));
  position: relative;
  display: block; // just in case
  min-width: 0px; // fix size to match with clip FF

  &:target {
    border-color: currentColor;
    z-index: 1;
  }
}

// Interactive box
a.box, button.box, label.box, .boxi {
  cursor: pointer;
  //background-color: var(--color-bg-1, var(--color-prime-1));
  background-color: var(--color-bg-1, var(--color-main-2));
  &:hover {
    background-color: var(--color-bg-2, var(--color-prime-1));
    z-index: 3;
    .link {
      color: var(--color-bg-2, var(--color-prime-5))
    }
  }
  &:focus { @extend .focusstyle; }
}

//.boxi.active {
//  //background-color: var(--color-bg-2, var(--color-prime-2));
//  background-color: var(--color-bg-3, var(--color-prime-3));
//}