// Buttons
//
// Call to Action buttons come in different various flavors. 
// They work with `button`, `input` and `link` elements. 
// Check out the focus style and loading class.
// They can also be combined with different paddings classes.

.button {
  padding: var(--space-s);
  position: relative;
  border: 1px solid var(--color-shadow-1);
  //box-shadow: 0 0 0 1px var(--color-highlight-2);
  border-radius: var(--space-xs);
  color: var(--color-bg-6, var(--color-prime-6));

  &:focus  { @extend .focus; }
  &:hover, &:focus { z-index: 2 }
  &.active { 
    &:hover {
      cursor: default;
      background-color: currentColor;
      color:            currentColor;
    }
  }
  &:hover { color: var(--color, var(--color-prime-6)) }

  &.prime {
    color: var(--color-bg-5, var(--color-prime-1));
    background-color: var(--color-bg-6, var(--color-prime-6));
    cursor: pointer;  // for HTML buttons
    &:hover {
      z-index: 2;
      background-color: var(--color-bg-7, var(--color-prime-7));
    }
    &:focus        { background-color: var(--color-accent-5); }
    &:focus:hover  { background-color: var(--color-accent-6); }
  }

  &.ghost {
    background-color: transparent;
    &:hover {
      background-color: var(--color-bg-2, var(--color-prime-1));
    }
  }
}


