// Buttons
//
// Call to Action buttons come in different various flavors. 
// They work with `button`, `input` and `link` elements. 
// Check out the focus style and loading class.
// They can also be combined with different paddings classes.

.button {
  padding: var(--space-s);
  position: relative;
  // border: 0;
  border: 1px solid var(--color-shadow-1);
  border-radius: var(--border-radius-m);
  color: var(--color-bg-4, var(--color-prime-4));

  &:focus  { @extend .focus; }
  &:hover, &:focus { z-index: 2 }
  &.active { 
    &:hover {
      cursor: default;
      background-color: currentColor;
      color:            currentColor;
    }
  }
  &:hover { color: var(--color, var(--color-main-5)) }

  &.prime {
    color: var(--color-bg-5, var(--color-prime-1));
    background-color: var(--color-bg-4, var(--color-prime-4));
    cursor: pointer;  // for HTML buttons
    &:hover {
      z-index: 2;
      background-color: var(--color-bg-5, var(--color-prime-5));
    }
    &:focus        { background-color: var(--color-accent-4); }
    &:focus:hover  { background-color: var(--color-accent-5); }
  }

  &.ghost {
    background-color: transparent;
    //border-color: transparent;
    &:hover {
      background-color: var(--color-bg-2, var(--color-prime-1));
    }
  }
}


