 // Columns gutter classes

.columns {

  gap: var(--gap-size, 0);
  &.gap-no { margin-left: 1px; > * { margin-left: -1px; margin-bottom: -1px  } }

  &.gap-px , &.gap-h-px  { gap: var(--space-px) }
  &.gap-xs , &.gap-h-xs  { gap: var(--space-xs) }
  &.gap-s  , &.gap-h-s   { gap: var(--space-s)  }
  &.gap-m  , &.gap-h-m   { gap: var(--space-m)  }
  &.gap-l  , &.gap-h-l   { gap: var(--space-l)  }
  &.gap-xl , &.gap-h-xl  { gap: var(--space-xl) }
}