// SCSS color map

$colors: (
  main: (
    1: hsl( 65, 10%, 90%),
    2: hsl( 65, 10%, 84%),
    3: hsl( 65, 10%, 78%),
    4: hsl( 65, 10%, 50%), //
    5: hsl( 65, 10%, 25%),
    6: hsl( 65, 10%, 18%),
    7: hsl( 65, 10%, 12%),
  ),
  link: (
    1: hsl(260, 99%, 90%),
    2: hsl(260, 99%, 82%),
    3: hsl(260, 99%, 77%),
    4: hsl(260, 80%, 60%), //
    5: hsl(260, 50%, 50%),
    6: hsl(260, 50%, 44%),
    7: hsl(260, 50%, 35%),
  ),
  accent: (
    1: hsl(190, 90%, 73%),
    2: hsl(190, 90%, 65%),
    3: hsl(190, 90%, 50%),
    4: hsl(190, 90%, 40%), //
    5: hsl(190, 90%, 32%),
    6: hsl(190, 90%, 24%),
    7: hsl(190, 90%, 18%),
  ),
  yellow: (
    1: hsl( 55, 60%, 66%),
    2: hsl( 55, 60%, 56%),
    3: hsl( 55, 70%, 44%),
    4: hsl( 55, 90%, 40%), //
    5: hsl( 55, 90%, 30%),
    6: hsl( 55, 80%, 22%),
    7: hsl( 55, 60%, 15%),
  ),
  red: (
    1: hsl( 34, 99%, 70%),
    2: hsl( 34, 99%, 60%),
    3: hsl( 34, 99%, 50%),
    4: hsl(  5, 80%, 40%), //
    5: hsl(  5, 60%, 30%),
    6: hsl(  5, 60%, 25%),
    7: hsl(  5, 60%, 20%),
  ),
  green: (
    1: hsl(110, 50%, 60%),
    2: hsl(110, 60%, 50%),
    3: hsl(110, 90%, 40%),
    4: hsl(100, 80%, 32%), //
    5: hsl( 90, 60%, 27%),
    6: hsl( 90, 60%, 18%),
    7: hsl( 90, 60%, 12%),
  ),
  blue: (
    1: hsl(210, 80%, 78%),
    2: hsl(210, 80%, 60%),
    3: hsl(210, 80%, 50%),
    4: hsl(210, 80%, 42%), //
    5: hsl(210, 80%, 27%),
    6: hsl(210, 80%, 18%),
    7: hsl(210, 80%, 12%),
  ),
  shadow: (
    1: hsla(65, 6%,  0%, .07),
    2: hsla(65, 6%,  0%, .18),
    3: hsla(65, 6%,  0%, .5),
  ),
  highlight: (
    1: hsla(65, 6%, 99%, .07),
    2: hsla(65, 6%, 99%, .2),
    3: hsla(65, 6%, 99%, .5),
  )
);

// $shades: (
//   shadow: (
//     1: hsla(65, 6%,  0%, .07),
//     2: hsla(65, 6%,  0%, .18),
//     3: hsla(65, 6%,  0%, .5),
//   ),
//   highlight: (
//     1: hsla(65, 6%, 99%, .07),
//     2: hsla(65, 6%, 99%, .2),
//     3: hsla(65, 6%, 99%, .5),
//   )
// );