// SCSS color map

$colors: (
  main: (
    1: hsl( 65, 7%, 89%),
    2: hsl( 65, 7%, 85%),
    3: hsl( 65, 7%, 50%),
    4: hsl( 65, 7%, 18%),
    5: hsl( 65, 7%, 12%),
  ),
  prime: (
    1: hsl(260, 99%, 92%),
    2: hsl(260, 99%, 89%),
    3: hsl(260, 99%, 60%),
    4: hsl(260, 80%, 40%),
    5: hsl(260, 50%, 32%),
  ),
  accent: (
    1: hsl(190, 90%, 60%),
    2: hsl(190, 90%, 50%),
    3: hsl(190, 90%, 40%),
    4: hsl(190, 90%, 30%),
    5: hsl(190, 90%, 20%),
  ),
  warn: (
    1: hsl( 55, 60%, 72%),
    2: hsl( 55, 60%, 62%),
    3: hsl( 55, 70%, 40%),
    4: hsl( 55, 90%, 30%),
    5: hsl( 55, 90%, 20%),
  ),
  danger: (
    1: hsl( 34, 99%, 65%),
    2: hsl( 34, 99%, 57%),
    3: hsl( 34, 99%, 50%),
    4: hsl(  5, 80%, 35%),
    5: hsl(  5, 60%, 30%),
  ),
  success: (
    1: hsl(110, 50%, 60%),
    2: hsl(110, 60%, 40%),
    3: hsl(110, 90%, 35%),
    4: hsl(100, 80%, 30%),
    5: hsl( 90, 60%, 15%),
  )
);

$shades: (
  shadow: (
    1: hsla(65, 6%,  0%, .1),
    2: hsla(65, 6%,  0%, .2),
  ),
  highlight: (
    1: hsla(65, 6%, 99%, .1),
    2: hsla(65, 6%, 99%, .2),
  )
);