// SCSS color map

$colors: (
  main: (
    1: hsl( 65, 12%, 95%),
    2: hsl( 65, 12%, 86%),
    3: hsl( 65, 12%, 60%),
    4: hsl( 65, 12%, 25%),
    5: hsl( 65, 12%, 15%),
  ),
  prime: (
    1: hsl(250, 30%, 90%),
    2: hsl(250, 60%, 88%),
    3: hsl(250, 99%, 77%),
    4: hsl(250, 80%, 45%),
    5: hsl(250, 60%, 30%),
  ),
  warn: (
    1: hsl( 55, 70%, 90%),
    2: hsl( 55, 60%, 75%),
    3: hsl( 55, 99%, 45%),
    4: hsl( 55, 80%, 30%),
    5: hsl( 55, 60%, 20%),
  ),
  danger: (
    1: hsl( 30, 80%, 95%),
    2: hsl( 28, 60%, 84%),
    3: hsl( 30, 99%, 60%),
    4: hsl(  0, 80%, 30%),
    5: hsl(  0, 60%, 25%),
  ),
  success: (
    1: hsl(110, 50%, 95%),
    2: hsl(110, 60%, 90%),
    3: hsl(110, 99%, 50%),
    4: hsl(100, 80%, 30%),
    5: hsl( 90, 60%, 20%),
  )
);

$shades: (
  shadow: (
    1: hsla(65, 12%,  0%, .1),
    2: hsla(65, 12%,  0%, .25),
  ),
  highlight: (
    1: hsla(65, 12%, 95%, .1),
    2: hsla(65, 12%, 95%, .25),
  )
);