// Details summary element styling

// <details class="details">
//   <summary>Hello</summary>
//   <p>Hello back</p>
// </details>

// Status: hacky
// details summary not supposed to have block elements

.details summary {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: var(--space-m);
  &::before {
    $size: 1.2rem;
    $svg-size: .7rem;
    content: "";
    position: absolute;
    width:  $size;
    height: $size;
    // background-color: var(--color-ma-1);
    // border-radius: 50%;
    background-image: url('#{$svg-triangle}'); // See SVG helpers
    background-size: $svg-size $svg-size;  
    background-position: 50% 50%;
    background-repeat: no-repeat;
    // left: var(--space-s);
    top: calc(50% - $size/2);
    //left: calc(var(--space-s));
    left: .3rem;
    color: var(--color-li-3);
    transform: rotate(-90deg);
    transition: transform 0.2s ease-out
  }
}

details[open] summary::before {
  transform: rotate(0deg);
}