// Flex grid system
// 
// This is a flexbox based grid system. 
// It's based on rows, that can "float".

.flex {
  display: flex;
  gap: var(--gap-space, 0);
  &.wrap { flex-wrap: wrap;}

  > div,
  > a,
  > .button,
  > .input
  {
    //display: block;
    flex-grow: 1
  }
}

// Reset! for childs of flex
//.flex .flex  { display: flex }

// Flex directon column
.flex.column { flex-direction: column }