// Grid
// 
// This is a flexbox based grid system. 
// It's based on rows, that can "float".

.flex {
  display: flex;
  &.wrap { flex-wrap: wrap;}

  > div,
  > a,
  > .button,
  > .input
  {
    display: block;
    //overflow: hidden; // required for span issues
    flex-grow: 1
  }
}

// Reset! for childs of flex
.flex .flex  { display: flex }

// Flex directon column
.flex.column { flex-direction: column }