// Focus style
// Fix browser default :focus rendering
// Can be used alone or as include, works for boxes!

.focus {
  //position: relative;
  z-index: 1; // bring it to front, essential for negativ margin styles
  background-color: var(--color-accent-1);
  border-color: var(--color-shadow-2);
  &:hover {
    background-color: var(--color-accent-2);
  }
}