// Gaps
// Vertically stacked gutters

$gap-sizes: "xs", "s", "m", "l";

// Exclude Flexbox and CSS grids but include CSS Columns!
@each $gap-size in $gap-sizes {
  .gap_#{$gap-size}:not(.grid):not(.grid-auto):not(.flex) > *:not(:first-child)
  { margin-top: var(--space-#{$gap-size}) }
}

.gap-custom:not(.grid):not(.grid-auto):not(.flex) > *:not(:first-child) {
  margin-top: var(--gap-size)
}
