// CSS grid media queries
// Breakpoint helpers

// TODO: Loop over a map of these

@media #{$laptop} {
  [class*="grid"].collapse-l { grid-template-columns: 1fr; }
  @for $i from 3 through 12 {
    [class*="grid"] > .span-#{$i}-l { grid-column: span #{$i} !important }
  }
}

@media #{$tablet} {
  [class*="grid"].collapse-t { grid-template-columns: 1fr; }
  @for $i from 3 through 12 {
    [class*="grid"] > .span-#{$i}-t { grid-column: span #{$i} !important }
  }
}

@media #{$phone} {
  [class*="grid"].collapse-p { grid-template-columns: 1fr; }
  @for $i from 3 through 12 {
    [class*="grid"]  > .span-#{$i}-p { grid-column: span #{$i} }
  }
}