// Inverted
// Turns everything in a faux-inverted style

.inverted, [data-theme="dark"] {

  // Manually re-setting vars (for now)

  --color-main-1: var(--main-7);
  --color-main-2: var(--main-6);
  --color-main-3: var(--main-5);
  --color-main-4: var(--main-4);
  --color-main-5: var(--main-3);
  --color-main-6: var(--main-2);
  --color-main-7: var(--main-1);

  --color-link-1: var(--link-7);
  --color-link-2: var(--link-6);
  --color-link-3: var(--link-5);
  --color-link-4: var(--link-4);
  --color-link-5: var(--link-3);
  --color-link-6: var(--link-2);
  --color-link-7: var(--link-1);

  --color-accent-1: var(--accent-7);
  --color-accent-2: var(--accent-6);
  --color-accent-3: var(--accent-5);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-3);
  --color-accent-6: var(--accent-2);
  --color-accent-7: var(--accent-1);

  --color-yellowish-1: var(--yellowish-7);
  --color-yellowish-2: var(--yellowish-6);
  --color-yellowish-3: var(--yellowish-5);
  --color-yellowish-4: var(--yellowish-4);
  --color-yellowish-5: var(--yellowish-3);
  --color-yellowish-6: var(--yellowish-2);
  --color-yellowish-7: var(--yellowish-1);

  --color-redish-1: var(--redish-7);
  --color-redish-2: var(--redish-6);
  --color-redish-3: var(--redish-5);
  --color-redish-4: var(--redish-4);
  --color-redish-5: var(--redish-3);
  --color-redish-6: var(--redish-2);
  --color-redish-7: var(--redish-1);

  --color-greenish-1: var(--greenish-7);
  --color-greenish-2: var(--greenish-6);
  --color-greenish-3: var(--greenish-5);
  --color-greenish-4: var(--greenish-4);
  --color-greenish-5: var(--greenish-3);
  --color-greenish-6: var(--greenish-2);
  --color-greenish-7: var(--greenish-1);

  --color-blueish-1: var(--blueish-7);
  --color-blueish-2: var(--blueish-6);
  --color-blueish-3: var(--blueish-5);
  --color-blueish-4: var(--blueish-4);
  --color-blueish-5: var(--blueish-3);
  --color-blueish-6: var(--blueish-2);
  --color-blueish-7: var(--blueish-1);


  --color-shadow-1: var(--highlight-1);
  --color-shadow-2: var(--highlight-2);

  --color-highlight-1: var(--shadow-1);
  --color-highlight-2: var(--shadow-2);

  .progress, .meter { --bar-border-color: var(--highlight-1) }

  background-color: var(--color-main-1);
  
  .disabled, :disabled { 
    * { color: var(--color-shadow-2) }
    &:not(.loading):not(.range) { 
      color: var(--color-highlight-3);
      &:hover { color: var(--color-highlight-2) }
    }
  }

//  .input, .textarea {
//    &::placeholder           { color: var(--color-highlight-2);}
//    &:-ms-input-placeholder  { color: var(--color-highlight-2);}
//  }
}