// Keyboard shortcuts
// <kbd class="kbd"></kbd>
// TEST version, needs invert
// REMOVE OSBSOLETE

.kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  //display: inline-block;
  font-family: #{$font-mono};
  //font-size: .9em;
  font-weight: bold;
  line-height: 1;
  font-size: 12px;
  min-width: 0.75rem;
  padding: 2px 5px;
  // padding: 2px 4px;
  vertical-align: text-top;
  color: currentColor;
  background-color: var(--shadow-2);
  //border: 1px solid var(--color-shadow-2);
  border-radius: var(--space-xs);
  white-space: nowrap;
  text-align: center;
  // margin: 1px 1px 0 1px;
  box-shadow: 0 2px 0 1px var(--shadow-2);
}