// Keyboard shortcuts
// <kbd class="kbd"></kbd>
// TEST version, needs invert

.kbd {
  font-family: #{$font-mono};
  //font-size: .9em;
  font-size: 12px;
  padding: 0 4px;
  vertical-align: text-top;
  color: currentColor;
  background-color: var(--highlight-1);
  border: 1px solid var(--shadow-2);
  border-radius: var(--border-radius-s);
  display: inline-block;
  white-space: nowrap;
  margin: 0 1px;
 }