// Keyboard shortcuts
// <kbd class="kbd"></kbd>
// TEST version, needs invert

.kbd {
  font-family: #{$font-mono};
  font-size: .9em;
  font-weight: bold;
  padding: 0 4px;
  vertical-align: text-top;
  background-color: var(--color-main-2);
  border-radius: var(--border-radius-s);
  display: inline-block;
  white-space: nowrap;
  margin: 0 1px;
 }