// Loading
// 
// element in progress
// was just click and now shows that something is happening

.loading { cursor: wait; }

.inprogress, .loading {
  @extend .striped;
  animation-name: movebg;
  animation-iteration-count: infinite;
  animation-duration: .8s;
  animation-timing-function: linear;
}

// animation progress with background position
@keyframes movebg {
  from { background-position: 0px 0 }
  to   { background-position: $stripe-size 0 }
}