// Loading
// 
// element in progress
// was just click and now shows that something is happening

.loading {
  cursor: wait;
}

.inprogress, .loading {
  @extend .striped;
  border: 2px solid red;
  animation-name: movebg;
  animation-iteration-count: infinite;
  animation-duration: .7s;
  animation-timing-function: linear;
}
// animation progress with background position
@keyframes movebg {
  from {
    background-position: -13px 0
  }
  to { 
    background-position: 22px 0
  }
}


// OLD

// .loading {
//   cursor: wait;
//   overflow: hidden;
//   position: relative;
//   &:after {
//     content: '';
//     top: 0;
//     left: 0;
//     width: 200%;
//     height: 100%;
//     pointer-events: none;
//     position: absolute;
//     @extend .striped;
//     animation-name: move;
//     animation-iteration-count: infinite;
//     animation-duration: .7s;
//     animation-timing-function: linear;
//   }
// }
// 
// // animation loading with after image translate
// @keyframes move {
//   0%   { transform: translateX($stripe-size*-2.8); }
//   100% { transform: translateX(0); }
// }
