// Mini info
// can be placed inside labelboxes
// +  on any .box

.mini-info {
  position: absolute;
  bottom:  0;
  right:   0;
  white-space: nowrap;
  pointer-events: none;
  z-index: 3;
  &.shown { visibility: visible !important }
}