// mini label
// best used in combination with labelbox

.mini-label {
  background-color: transparent; // textarea overflow
  color: var(--color-prime-6);
  font-size: var(--text-s);
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
  z-index: 3;
  left: var(--space-s);
  top:  var(--space-s);
  font-weight: normal;
  font-family: var(--font-standard);
}