// Select elements

// @supports (-moz-appearance:none) {
//   .select {
//     -moz-appearance:none !important;
//     padding: 0;
//   }
// }

.select {  
  $svg-size: .7rem;
  appearance: none;      // reset standard
  -moz-appearance: none; // reset firefox
  cursor: pointer;
  //text-overflow: ellipsis;
  //border-radius: var(--border-radius-m);

  padding-right: 1.9rem !important; // Space to make room for icon
  background-image: url('#{$svg-carret}'); // See SVG helpers
  background-size: $svg-size $svg-size;
  background-repeat: no-repeat;
  background-position: right .9rem top calc(50%);
  position: relative;

  option { 
    padding: 0;
    margin: 0;
  }
  //&:disabled { 
  //  background-size: 100% 100%;    // reset
  //  background-position: left top; // reset
  //}

  optgroup        { color: var(--colored-5, var(--color-main-5)); font-style: normal; }
  option:disabled { color: var(--color-main-4) }
  &:-ms-expand { display: none } // IE reset
}

.form-box .select {
  background-position: right .9rem top calc(70%);
}
