// Striped background overlay
// Experimental
// Actually used for loading anim


$stripe-size: 28px;

@mixin striped {
  background: 
    repeating-linear-gradient(
      45deg, 
      var(--color-shadow-1), 
      var(--color-shadow-1) 10px, 
      var(--color-highlight-2) 10px, 
      var(--color-highlight-2) 20px);
  background-position: 0 0;
  background-size: $stripe-size 100%;
}

.striped {
  @include striped;
}