// Colors everything within a container

// TODO: Separate these files here
// TODO: Loop over color map

$tinted-states: "yellowish", "greenish", "redish", "link";

// Border + text color (and some magic)
@each $state in $tinted-states {
  .tinted-#{$state}, .tinted-#{$state} * {
    color: var(--color-#{$state}-4);
    //.link { color: var(--color-#{$state}-5) }
  }
}

// Background color
@each $state in $tinted-states {
  .tinted-bg-#{$state}, .tinted-bg-#{$state} * {
    @for $i from 1 through 7 {
      $transposed-index: $i;
      --color-bg-#{$i}: var(--color-#{$state}-#{$transposed-index});
    }
  }
}

// Tint images
[class*="tinted-bg-"].media, [class*="tinted-bg-"] .media {
  img, .img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    mix-blend-mode: multiply;
  }
}
