// Simple CSS (only) tooltips

// can be attached to almost any element
// basic usage: <em data-tooltip="em em em em em">em</em>
// used pixels here, so no mess when changing CSS vars.
// :after   the tooltip content itself


[data-tooltip] {

  position: relative;
  &:after {
    content:     attr(data-tooltip);
    z-index: 20000;
    border-radius: var(--space-xs);
    transform:   translateX(-50%) translateY(-4px);
    font-weight: normal;
    font-size:   12px;
    line-height: 12px;
    background:  var(--color-main-5);
    color:       var(--color-main-1);
    padding:     var(--space-xs) var(--space-xs);
    white-space: nowrap;
    font-family: var(--font-standard); // reset
    transition: opacity .1s;
    transition-delay: 400ms;
    //box-shadow: 0 var(--space-xs) var(--space-m) var(--space-xs) var(--shadow-2);
    box-shadow: 0 0 0 var(--space-px)  var(--color-main-1);
    opacity: 0;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
  }

  &:hover, &:focus {
    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

// top is standard

[data-tooltip].tooltip-l:after {
  left:         0;
  top:          50%;  
  transform: translateX(calc(-100% - var(--space-s))) translateY(-50%);
}

[data-tooltip].tooltip-r:after {
  right:        0;
  top:          50%;
  transform: translateX(calc(100% + var(--space-xs))) translateY(-50%);
}

[data-tooltip].tooltip-b:after {
  left:       50%;
  top:       100%;
  transform: translateX(-50%) translateY(4px);
}