// Typography
//
// Some default resets


* { text-rendering: optimizeLegibility; }

// Headline resets

h1, h2, h3, h4, h5 {
  font-family: var(--font-headline);
  margin: 0;
  word-wrap: break-word;
  //text-wrap: balanced; // whishful thinking
}


// Text select coroporated
*::selection      { background-color: var(--color-warn-3); }
*::-moz-selection { background-color: var(--color-warn-3); }

// Paragraph basics
p {
  line-height: var(--text-ratio);
  font-family: var(--font-body);
}

// Apply textlinks to general classes
p, td, li { a { @extend .link; } }

// Blockquote styling

blockquote {
  text-wrap: balanced; // wishful thinking
  margin: 0; // reset
  // Markdown syntax renders a paragraph in each blockquote
  p {
    font-family: var(--text-serif-font);
    font-style: italic;
    line-height: normal;
    letter-spacing: .03rem;
    margin: 0;
  }
}

// Kepp time object together
time { white-space: nowrap; }

// Link reset
a {
  text-decoration: none;
  color: var(--color-main-5);
  outline: 0;
}

// Horizontal ruler
hr {
  height: 0;
  margin: 0;
  border: 0;
  border-top: var(--space-xs) solid;
}

mark {
  background-color: var(--color-bg-2, var(--color-warn-2));
  box-shadow: 0 0 0 1px var(--color-bg-2, var(--color-warn-2));
}

// acronym[title]    // Acronym is Obsolete
abbr,  {
  text-decoration: none; // reset
  //box-shadow: inset 0 0px 0 white, inset 0 -1px 0 var(--color-main-5);
  border-bottom: 1px dotted var(--color-main-5);
}