// Typface are assigned on three Levels:
// Font stacks - 
// Level 1
// Here are some handy "font stacks":


// Serif 1
$fontstack-georgia : "Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', Georgia, 'Palatino Linotype', Palatino, serif";

// Serif 2
$fontstack-garamond : "'Palatino Linotype', Palatino, Palladio, 'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook', Georgia, serif";

// Serif 3 
$fontstack-times : "Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;";


// Sans-serif 1
$fontstack-helvetica : "Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif";

// Sans-serif 2
$fontstack-verdana : "Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif";

// Default Sans system font
$fontstack-system : "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif";


// Monospaced (for code examples)

$fontstack-mono-complex : "'DejaVu sans mono', 'Anonymous Pro', 'Ubuntu Mono', 'Droid Sans Mono Consolas', 'Andale Mono', Consolas, Monaco, 'Courier New', monospace";

$fontstack-mono-simple : "Menlo, Inconsolata, Monaco, Consolas, 'Courier New', 'Ubuntu Mono',Courier,monospace ";

// Font assignment
// Level 2 
// Further define which stack will be used for which type class

$font-sans:  $fontstack-system;
$font-serif: $fontstack-georgia;
$font-mono:  $fontstack-mono-complex;

:root {
  // Typefaces
  // font assignment by type
  // see scss-helpers for some predefined stacks
  --font-body:     #{$font-serif};
  --font-standard: #{$font-sans};
  --font-headline: #{$font-sans};
}